extends layout.pug

block content
    nav(class="navbar")
        a(class="navbar__rockinhood" href="/") Rockinhood <img src="/assets/images/guitar-icon.png" width=40px>
        div(class="navbar__nav")
            //- a(class="navbar__nav-products") Products <i class="navbar__arrow fa fa-angle-down"></i>
            //- a(class="navbar__nav-learn" href="/learn") Learn
            //- a(class="navbar__nav-support" href="/support") Support
        div.spacer
        div.navbar__auth-container
            a(class="navbar__nav-signin" href="/login") Sign In
            a(class="navbar__nav-signup" href="/signup") Sign Up

    div(class="section1")
        div.section1__text-container
            div.section1__title It's Time to Do Money
            div.section1__text Rockinhood, a pioneer of commission-free investing, gives you more ways to make your money work harder.
            a(class="section1__signup" href="/signup") Sign Up
        div.section1__image-container
            video(class="section1__video" autoplay controlslist="nodownload nofullscreen noremoteplayback" loop muted playsinline preload="auto")
                source(src="https://cdn.robinhood.com/assets/robinhood/brand/8a5e77cafdc8af11be3651d08c2ff2a2-3x.mp4" type="video/mp4")
            img(class="section1__image" src="https://cdn.robinhood.com/assets/robinhood/brand/350f48095cefa5b4a8139e5797e5232d-1x.png")
            //- ToDo place image

    div(class="section2")
        div.section2__title Break Free from Commission Fees
        div.section2__text Make unlimited commission-free trades in stocks, ETFs, and options with Rockinhood Financial, as well as buy and sell cryptocurrencies with Rockinhood Crypto. See our fee schedule to learn more about cost.
        
    div(class="section3")
        div.section3__text-container
            div.section3__title Introducing Fractional Shares
            div.section3__subheading Invest in thousands of stocks with as little as $1.
            div.section3__block-container
                div.section3__block-container--1
                    div.section3__block-title Invest Any Amount
                    div.section3__block-text Choose how much you want to invest, and we’ll convert from dollars to parts of a whole share.
                div.section3__block-container--2
                    div.section3__block-title Build a Balanced Portfolio
                    div.section3__block-text Customize your portfolio with pieces of different companies and funds to help reduce risk.
                div.section3__block-container--3
                    div.section3__block-title Trade in Real Time
                    div.section3__block-text Trades placed during market hours are executed at that time, so you’ll always know the share price.
            div.section3__form-container
                //- form(method="post", action="/early-action")
                button(class="section3__button") Sign In as Demo User
                //-ToDo think about what we will do with the form
            //- div.section3__disclosure <i class="fa fa-exclamation-circle"></i> Fractional Shares Disclosure
        div.section3__image-container
            img(src="https://cdn.robinhood.com/assets/robinhood/brand/1006e4b792847a66da3836fe234d3ec2-1x.png")

    div(class="section4")
        nav.section4__nav
            button(type="button" class="section4__nav--up")
                <i class="fa fa-arrow-up"></i>
            ul.section4__nav-text
                li.section4__nav-element
                    button.section4__nav--button Learn
                li.section4__nav-element
                    button.section4__nav--button Manage
                li.section4__nav-element
                    button.section4__nav--button Customize
            button(type="button" class="section4__nav--down")
                <i class="fa fa-arrow-down"></i>
        div.section4__image
            img(src="https://cdn.robinhood.com/assets/robinhood/brand/082fbd2b61170c3860fbc4d1913d74cf-1x.png")
        div.section4__text-container
            div.section4__text-container--title Learn As You Grow
            div.section4__text-container--text Our goal is to make investing in financial markets more affordable, more intuitive, and more fun, no matter how much experience you have (or don’t have).

    div(class="section5")
        div.section5__left
            div.section5__title Our Products
            div.section5__nav
                div.section5__nav--cash-management Cash Management
                div.section5__nav--stock-fund Stocks & Funds
                div.section5__nav--options Options
                div.section5__nav--gold Gold
                div.section5__nav--crypto Crypto
            div.section5__nav-text-container
                div.section5__nav--cm-text Earn 0.30% APY* on your uninvested cash and get more flexibility with your brokerage account.
                div.section5__nav--sf-text Get mobile access to the markets. Invest commission-free in individual companies or bundles of investments (ETFs).
                div.section5__nav--o-text Be bullish on stocks you believe in and bearish on the ones you don’t. It’s your call.
                div.section5__nav--g-text Access research reports, trade on margin, and make bigger deposits with quicker access to funds—all starting at $5 per month.
                div.section5__nav--c-text Tap into the cryptocurrency market to buy, HODL, and sell Bitcoin, Ethereum, Dogecoin, and more, 24/7 with Rockinhood Crypto.
                div.section5__nav--button-container
                    button(class="section5__nav--button") Sign In as Demo User
                //-ToDo implement different disclosures
                //- div.section5__nav--disclosure <i class="fa fa-exclamation-circle"></i> Variable APY and Debit Card Disclosure
        div.section5__image
            img(class="section5__image-ele" src="https://cdn.robinhood.com/assets/robinhood/brand/e46bb5ae43b4085ee9a2e2d576047a37-1x.png")
            div.section5__nav--small-text Cash Management offered through Rockinhood Financial

    div(class="footer")
        div(class="section6")
            div.section6__createdby Created By
                a(class="section6__createdby-name" href="https://brad-simpson-website.herokuapp.com/" target="_blank" rel="noopener noreferrer") Brad Simpson
                    a(class="section6__createdby-git" href="https://github.com/bradsimpson213" target="_blank" rel="noopener noreferrer") <i class="fa fa-github" aria-hidden="true"></i>
                    a(class="section6__createdby-linkedin" href="https://www.linkedin.com/in/brad-simpson-a6b1b7b2/" target="_blank" rel="noopener noreferrer") <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                a(class="section6__createdby-name" href="https://douglasryu.github.io/" target="_blank" rel="noopener noreferrer") Douglas Ryu
                    a(class="section6__createdby-git" href="https://github.com/douglasryu" target="_blank" rel="noopener noreferrer") <i class="fa fa-github" aria-hidden="true"></i>
                    a(class="section6__createdby-linkedin" href="https://www.linkedin.com/in/douglasryu/" target="_blank" rel="noopener noreferrer") <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                a(class="section6__createdby-name" href="https://quirosfelipe.github.io/" target="_blank" rel="noopener noreferrer") Felipe Quiros
                    a(class="section6__createdby-git" href="https://github.com/quirosfelipe" target="_blank" rel="noopener noreferrer") <i class="fa fa-github" aria-hidden="true"></i>
                    a(class="section6__createdby-linkedin" href="https://www.linkedin.com/in/quirosfelipe/" target="_blank" rel="noopener noreferrer") <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            div.section7__text-container
                div.section7__text1 © 2020 Rockinhood. All rights reserved.
        //- div.split-container
        //-     div.split
        //- div(class="section7")
            //-     div.section7__text2 Rockinhood means Rockinhood Markets and its in-application and web experiences with its family of wholly owned subsidiaries which includes Rockinhood Financial, Rockinhood Securities, Rockinhood Crypto, and Rockinhood U.K.
            //-     div.section7__text3 All investments involve risks, including the possible loss of capital.
            //-     div.section7__text4 Securities trading is offered to self-directed customers by Rockinhood Financial. Rockinhood Financial is a member of the <span class="section7__text4-finra" href="https://www.finra.org/">Financial Industry Regulatory Authority (FINRA)</span>.
            //- div.section7__disclosure <i class="fa fa-exclama    tion-circle"></i> View Important Disclosures

        script(src="/js/index_login.js" type="module")

