extends layout.pug

block content
    nav(class="navbar")
        a(class="navbar__rockinhood" href="/") Rockinhood <img src="/assets/images/guitar-icon.png" width=40px>
        div(class="navbar__nav")
            a(class="navbar__nav-products") Products <i class="navbar__arrow fa fa-angle-down"></i>
            a(class="navbar__nav-learn" href="/learn") Learn
            a(class="navbar__nav-support" href="/support") Support
        div.spacer
        div.navbar__auth-container
            a(class="navbar__nav-signin" href="/login") Sign In
            a(class="navbar__nav-signup" href="/signup") Sign Up

    div(class="section1")
        div.section1__text-container
            div.section1__title It's Time to Do Money
            div.section1__text Rockinhood, a pioneer of commission-free investing, gives you more ways to make your money work harder.
            a(class="section1__signup" href="/signup") Sign Up
        div.section1__image-container
            video(class="section1__video" autoplay controlslist="nodownload nofullscreen noremoteplayback" loop muted playsinline preload="auto")
                source(src="https://cdn.robinhood.com/assets/robinhood/brand/8a5e77cafdc8af11be3651d08c2ff2a2-3x.mp4" type="video/mp4")
            img(class="section1__image" src="https://cdn.robinhood.com/assets/robinhood/brand/350f48095cefa5b4a8139e5797e5232d-1x.png")
            //- ToDo place image

    div(class="section2")
        div.section2__title Break Free from Commission Fees
        div.section2__text Make unlimited commission-free trades in stocks, ETFs, and options with Rockinhood Financial, as well as buy and sell cryptocurrencies with Rockinhood Crypto. See our <span class="section2__text--link" href="/fee-schedule">fee schedule</span> to learn more about cost.
        div.section2__disclosure <i class="fa fa-exclamation-circle"></i> Commissions Disclosure

    div(class="section3")
        div.section3__text-container
            div.section3__title Introducing Fractional Shares
            div.section3__subheading Invest in thousands of stocks with as little as $1.
            div.section3__block-container
                div.section3__block-container--1
                    div.section3__block-title Invest Any Amount
                    div.section3__block-text Choose how much you want to invest, and we’ll convert from dollars to parts of a whole share.
                div.section3__block-container--2
                    div.section3__block-title Build a Balanced Portfolio
                    div.section3__block-text Customize your portfolio with pieces of different companies and funds to help reduce risk.
                div.section3__block-container--3
                    div.section3__block-title Trade in Real Time
                    div.section3__block-text Trades placed during market hours are executed at that time, so you’ll always know the share price.
            div.section3__form-container
                form(method="post", action="/early-action")
                    input(type="text" class="section3__input" placeholder="name@email.com" required)
                    button(type="submit" class="section3__button") Get Early Access
                //-ToDo think about what we will do with the form
            div.section3__disclosure <i class="fa fa-exclamation-circle"></i> Fractional Shares Disclosure
        div.section3__image-container
            img(src="https://cdn.robinhood.com/assets/robinhood/brand/1006e4b792847a66da3836fe234d3ec2-1x.png")

    div(class="section4")
        nav.section4__nav
            button(type="button" class="section4__nav--up")
                <i class="fa fa-arrow-up"></i>
            ul.section4__nav-text
                li.section4__nav-element
                    button.section4__nav--button Learn
                li.section4__nav-element
                    button.section4__nav--button Manage
                li.section4__nav-element
                    button.section4__nav--button Customize
            button(type="button" class="section4__nav--down")
                <i class="fa fa-arrow-down"></i>
        div.section4__image
            img(src="https://cdn.robinhood.com/assets/robinhood/brand/082fbd2b61170c3860fbc4d1913d74cf-1x.png")
        div.section4__text-container
            div.section4__text-container--title Learn As You Grow
            div.section4__text-container--text Our goal is to make investing in financial markets more affordable, more intuitive, and more fun, no matter how much experience you have (or don’t have).

    div(class="section5")
        div.section5__title Our Products
        div.section5__nav
            div.section5__nav--cash-management Cash Management
            div.section5__nav--stock-fund Stocks & Funds
            div.section5__nav--options Options
            div.section5__nav--gold Gold
            div.section5__nav--crypto Crypto
        div.section5__nav-text-container
            div.section5__nav--cm-text Earn 0.30% APY* on your uninvested cash and get more flexibility with your brokerage account.
            div.section5__nav--sf-text Get mobile access to the markets. Invest commission-free in individual companies or bundles of investments (ETFs).
            div.section5__nav--o-text Be bullish on stocks you believe in and bearish on the ones you don’t. It’s your call.
            div.section5__nav--g-text Access research reports, trade on margin, and make bigger deposits with quicker access to funds—all starting at $5 per month.
            div.section5__nav--c-text Tap into the cryptocurrency market to buy, HODL, and sell Bitcoin, Ethereum, Dogecoin, and more, 24/7 with Rockinhood Crypto.
            div.section5__nav--button-container
                button.section5__nav--button Learn More
            //-ToDo implement different disclosures
            div.section5__nav--disclosure <i class="fa fa-exclamation-circle"></i> Variable APY and Debit Card Disclosure
            div.section5__nav--small-text Cash Management offered through Rockinhood Financial
        div.section5__image
            img(class="section5__image-ele" src="https://cdn.robinhood.com/assets/robinhood/brand/e46bb5ae43b4085ee9a2e2d576047a37-1x.png")

    div(class="footer")
        div(class="section6")
            div.section6__links-container
                div.section6__links-col1
                    div.section6__links-stock-fund Stocks & Funds
                    div.section6__links-options Options
                    div.section6__links-gold Gold
                    div.section6__links-cash-manangement Cash Management
                    div.section6__links-crypto Crypto
                div.section6__links-col2
                    div.section6__links-learn Learn
                    div.section6__links-support Support
                    div.section6__links-snacks Snacks
                div.section6__links-col3
                    div.section6__links-about About Us
                    div.section6__links-careers Careers
                    div.section6__links-news Company News
            div.section6__createdby Created By
                div.section6__createdby-name Brad Simpson
                    a(class="section6__createdby-git" href="https://github.com/bradsimpson213") <i class="fa fa-github" aria-hidden="true"></i>
                div.section6__createdby-name Douglas Ryu
                    a(class="section6__createdby-git" href="https://github.com/douglasryu") <i class="fa fa-github" aria-hidden="true"></i>
                div.section6__createdby-name Felipe Quiros
                    a(class="section6__createdby-git" href="https://github.com/quirosfelipe") <i class="fa fa-github" aria-hidden="true"></i>
            //-ToDo Think about what to include
            div.section6__snacks-container
                <svg height="53" width="125" class="section6__snacks-logo"><path d="M47.7563 2.64316V5.47045H48.4953C48.7245 5.47045 48.907 5.43854 49.0426 5.37511C49.1783 5.31109 49.2847 5.22004 49.3613 5.10096C49.4291 4.98227 49.4756 4.83596 49.5012 4.66182C49.5269 4.48768 49.5396 4.28591 49.5396 4.0569C49.5396 3.8277 49.5269 3.62612 49.5012 3.45198C49.4756 3.27804 49.4248 3.12705 49.3483 2.99961C49.187 2.76223 48.8813 2.64316 48.4315 2.64316H47.7563ZM46.4574 10.4882V1.42029H48.5461C50.0742 1.42029 50.8383 2.30791 50.8383 4.08239C50.8383 4.61726 50.7556 5.07138 50.5899 5.44476C50.4247 5.81873 50.1338 6.11992 49.7178 6.34932L51.1187 10.4882H49.7433L48.5333 6.61665H47.7563V10.4882H46.4574Z"></path><path d="M53.7434 8.34843C53.7434 8.66266 53.8301 8.8942 54.0043 9.04246C54.1782 9.19111 54.3841 9.26563 54.622 9.26563C54.8594 9.26563 55.0655 9.19111 55.2394 9.04246C55.4134 8.8942 55.5009 8.66266 55.5009 8.34843V3.55969C55.5009 3.24585 55.4134 3.01431 55.2394 2.86566C55.0655 2.7174 54.8594 2.64288 54.622 2.64288C54.3841 2.64288 54.1782 2.7174 54.0043 2.86566C53.8301 3.01431 53.7434 3.24585 53.7434 3.55969V8.34843ZM52.444 3.55969C52.444 3.19507 52.5078 2.87208 52.6353 2.5921C52.7625 2.31172 52.9322 2.07824 53.1447 1.89165C53.3482 1.71303 53.5797 1.57742 53.8387 1.48402C54.0975 1.39063 54.3586 1.34393 54.622 1.34393C54.8849 1.34393 55.146 1.39063 55.4052 1.48402C55.6642 1.57742 55.8996 1.71303 56.1121 1.89165C56.316 2.07824 56.4812 2.31172 56.6086 2.5921C56.7358 2.87208 56.7997 3.19507 56.7997 3.55969V8.34843C56.7997 8.73057 56.7358 9.05745 56.6086 9.32906C56.4812 9.60107 56.316 9.82599 56.1121 10.0042C55.8996 10.191 55.6642 10.3311 55.4052 10.4245C55.146 10.5175 54.8849 10.5646 54.622 10.5646C54.3586 10.5646 54.0975 10.5175 53.8387 10.4245C53.5797 10.3311 53.3482 10.191 53.1447 10.0042C52.9322 9.82599 52.7625 9.60107 52.6353 9.32906C52.5078 9.05745 52.444 8.73057 52.444 8.34843V3.55969Z"></path><path d="M59.8823 6.2855V9.18925H60.4427C60.7057 9.18925 60.9116 9.15112 61.0602 9.07446C61.2089 8.99799 61.3214 8.89234 61.3978 8.75634C61.4743 8.62053 61.5208 8.45903 61.5377 8.27244C61.5546 8.08546 61.5634 7.88175 61.5634 7.66091C61.5634 7.4319 61.5508 7.23227 61.5251 7.06241C61.4998 6.89275 61.4486 6.74838 61.3725 6.6293C61.2873 6.51061 61.1725 6.42345 61.0287 6.36838C60.884 6.31313 60.6931 6.2855 60.4553 6.2855H59.8823ZM59.8823 2.64316V5.13909H60.468C60.9013 5.13909 61.1918 5.03111 61.3406 4.81455C61.4889 4.59819 61.5634 4.28202 61.5634 3.86583C61.5634 3.45821 61.4805 3.15254 61.3149 2.94883C61.1494 2.74492 60.8501 2.64316 60.417 2.64316H59.8823ZM58.5834 10.4882V1.42029H60.481C60.8966 1.42029 61.2515 1.4843 61.5443 1.61155C61.837 1.73899 62.0769 1.90885 62.2637 2.12113C62.4506 2.33321 62.5843 2.57759 62.6651 2.85329C62.7456 3.12939 62.7861 3.41599 62.7861 3.7129V4.04406C62.7861 4.29058 62.7668 4.49838 62.7285 4.66804C62.6903 4.8379 62.6331 4.98655 62.5567 5.114C62.4123 5.35176 62.1915 5.55567 61.8946 5.72514C62.2002 5.86951 62.425 6.08159 62.5693 6.36196C62.7137 6.64195 62.7861 7.02408 62.7861 7.50837V8.01775C62.7861 8.81587 62.5927 9.42702 62.2065 9.85137C61.82 10.2761 61.2025 10.4882 60.3536 10.4882H58.5834Z"></path><path d="M65.976 1.42029H64.6769V10.4882H65.976V1.42029Z"></path><path d="M67.8229 10.4882V1.42029H69.0709L71.0324 6.88419H71.0577V1.42029H72.357V10.4882H71.1341L69.1476 5.03733H69.1219V10.4882H67.8229Z"></path><path d="M74.1685 10.4882V1.42029H75.4674V5.30487H77.0724V1.42029H78.3714V10.4882H77.0724V6.45108H75.4674V10.4882H74.1685Z"></path><path d="M81.4544 8.34843C81.4544 8.66266 81.5411 8.8942 81.7155 9.04246C81.8892 9.19111 82.0953 9.26563 82.333 9.26563C82.5704 9.26563 82.7767 9.19111 82.9504 9.04246C83.1244 8.8942 83.2119 8.66266 83.2119 8.34843V3.55969C83.2119 3.24585 83.1244 3.01431 82.9504 2.86566C82.7767 2.7174 82.5704 2.64288 82.333 2.64288C82.0953 2.64288 81.8892 2.7174 81.7155 2.86566C81.5411 3.01431 81.4544 3.24585 81.4544 3.55969V8.34843ZM80.155 3.55969C80.155 3.19507 80.2188 2.87208 80.3465 2.5921C80.4737 2.31172 80.6432 2.07824 80.8559 1.89165C81.0594 1.71303 81.2907 1.57742 81.5497 1.48402C81.8085 1.39063 82.0696 1.34393 82.333 1.34393C82.5959 1.34393 82.857 1.39063 83.1162 1.48402C83.3752 1.57742 83.6106 1.71303 83.8231 1.89165C84.027 2.07824 84.1922 2.31172 84.3196 2.5921C84.447 2.87208 84.5109 3.19507 84.5109 3.55969V8.34843C84.5109 8.73057 84.447 9.05745 84.3196 9.32906C84.1922 9.60107 84.027 9.82599 83.8231 10.0042C83.6106 10.191 83.3752 10.3311 83.1162 10.4245C82.857 10.5175 82.5959 10.5646 82.333 10.5646C82.0696 10.5646 81.8085 10.5175 81.5497 10.4245C81.2907 10.3311 81.0594 10.191 80.8559 10.0042C80.6432 9.82599 80.4737 9.60107 80.3465 9.32906C80.2188 9.05745 80.155 8.73057 80.155 8.34843V3.55969Z"></path><path d="M87.517 8.34843C87.517 8.66266 87.6039 8.8942 87.7781 9.04246C87.9518 9.19111 88.1577 9.26563 88.3958 9.26563C88.6332 9.26563 88.8391 9.19111 89.0132 9.04246C89.1873 8.8942 89.2743 8.66266 89.2743 8.34843V3.55969C89.2743 3.24585 89.1873 3.01431 89.0132 2.86566C88.8391 2.7174 88.6332 2.64288 88.3958 2.64288C88.1577 2.64288 87.9518 2.7174 87.7781 2.86566C87.6039 3.01431 87.517 3.24585 87.517 3.55969V8.34843ZM86.218 3.55969C86.218 3.19507 86.2814 2.87208 86.4089 2.5921C86.5361 2.31172 86.7062 2.07824 86.9183 1.89165C87.1222 1.71303 87.3533 1.57742 87.6123 1.48402C87.8713 1.39063 88.1324 1.34393 88.3958 1.34393C88.6589 1.34393 88.92 1.39063 89.179 1.48402C89.4378 1.57742 89.6734 1.71303 89.8857 1.89165C90.0896 2.07824 90.2549 2.31172 90.3826 2.5921C90.5098 2.87208 90.5733 3.19507 90.5733 3.55969V8.34843C90.5733 8.73057 90.5098 9.05745 90.3826 9.32906C90.2549 9.60107 90.0896 9.82599 89.8857 10.0042C89.6734 10.191 89.4378 10.3311 89.179 10.4245C88.92 10.5175 88.6589 10.5646 88.3958 10.5646C88.1324 10.5646 87.8713 10.5175 87.6123 10.4245C87.3533 10.3311 87.1222 10.191 86.9183 10.0042C86.7062 9.82599 86.5361 9.60107 86.4089 9.32906C86.2814 9.05745 86.218 8.73057 86.218 8.34843V3.55969Z"></path><path d="M93.6563 2.64316V9.26591H94.2548C94.6196 9.26591 94.8786 9.17466 95.0315 8.99176C95.1845 8.80945 95.2607 8.52285 95.2607 8.13216V3.76388C95.2607 3.40743 95.1885 3.13172 95.0444 2.93618C94.9 2.74083 94.6369 2.64316 94.2548 2.64316H93.6563ZM92.3574 10.4882V1.42029H94.2801C95.0274 1.42029 95.594 1.6242 95.9804 2.03201C96.3667 2.43925 96.5601 3.01693 96.5601 3.76388V8.00491C96.5601 8.85401 96.3538 9.48033 95.9421 9.88328C95.5302 10.2868 94.9383 10.4882 94.1657 10.4882H92.3574Z"></path><path d="M120.019 15.27C119.813 15.5929 119.577 15.9179 119.323 16.206C119.072 16.4899 118.961 16.5304 118.803 16.1566C118.574 15.6145 118.468 14.969 118.534 14.3854C118.623 13.6025 119.227 12.6725 120.134 12.8092C121.213 12.9719 120.325 14.7892 120.019 15.27ZM102.571 21.4617C102.518 21.3833 102.778 20.9566 102.819 20.8833C103.046 20.4722 103.341 20.0931 103.658 19.7476C104.227 19.1281 105.1 18.4671 105.994 18.5951C106.474 18.6675 106.498 19.252 106.368 19.6198C106.222 20.0287 105.873 20.3451 105.529 20.5908C104.749 21.1487 103.767 21.501 102.8 21.4791C102.771 21.4783 102.594 21.496 102.571 21.4617ZM71.4857 24.4867C71.3522 25.5726 71.024 26.5988 70.5642 27.5901C69.577 29.7189 68.221 31.7868 66.5306 33.4256C66.1732 33.772 65.5297 34.4434 64.9561 34.3948C64.102 34.3222 64.2868 32.5964 64.3693 32.0492C64.6769 30.0061 65.8338 28.0131 66.8946 26.2736C67.3997 25.4455 67.9622 24.6575 68.5872 23.9157C69.1462 23.2522 70.0144 22.2927 70.9921 22.4402C71.7674 22.5572 71.5487 23.9732 71.4857 24.4867ZM124.589 27.4737C124.03 25.4494 123.219 23.4697 122.256 21.6057C122.01 21.1288 121.679 20.6749 121.473 20.1801C121.269 19.6914 121.375 19.3205 121.624 18.8751C122.095 18.0313 122.66 17.2861 123.006 16.373C123.686 14.5804 123.75 12.3285 122.288 10.8916C121.019 9.64378 119.123 9.77531 117.842 10.9336C116.622 12.0366 115.925 13.728 115.678 15.3279C115.543 16.2023 115.599 17.0464 115.823 17.9027C115.902 18.2062 116.022 18.5146 116.081 18.8238C116.164 19.2647 115.91 19.6034 115.636 19.9262C114.22 21.5942 112.781 23.2465 111.259 24.82C110.476 25.6288 109.676 26.4203 108.859 27.1945C108.063 27.9489 107.277 28.796 106.372 29.421C105.996 29.6807 105.757 29.7656 105.416 29.4185C105.182 29.1805 104.971 28.8867 104.779 28.6163C104.449 28.1518 104.169 27.6551 103.873 27.1689C103.679 26.849 103.184 26.3822 103.18 25.9962C103.176 25.6882 103.519 25.5759 103.753 25.4574C104.197 25.2325 104.641 25.0072 105.078 24.7677C105.976 24.2748 106.836 23.7158 107.594 23.0226C108.941 21.7911 110.034 20.1966 109.891 18.2955C109.758 16.5226 108.397 14.6195 106.426 14.894C105.433 15.0322 104.586 15.6675 103.873 16.3331C103.375 16.7969 102.923 17.4332 102.376 17.8354C103.1 16.4247 103.863 15.0334 104.588 13.6233C106.058 10.7668 107.513 7.89149 108.789 4.94279C109.123 4.17249 109.494 3.40238 109.376 2.53908C109.283 1.86081 108.893 1.28138 108.276 0.97474C107.063 0.371575 106.001 1.00023 105.338 2.04371C104.53 3.31502 103.978 4.7848 103.341 6.14503C102.92 7.04336 102.5 7.94169 102.078 8.83963C100.625 11.9348 99.1474 15.019 97.5714 18.0541C96.0904 20.9059 94.6138 23.8261 92.563 26.3215C91.6145 27.4757 90.5257 28.5085 89.368 29.45C88.3395 30.2866 87.2522 31.1453 86.0663 31.7531C85.6019 31.9915 85.0275 32.2633 84.4895 32.1963C83.8037 32.1111 83.6471 31.3875 83.6743 30.8013C83.7373 29.4408 84.415 27.9567 85.0303 26.7673C85.8319 25.2175 86.8938 23.8977 88.0241 22.5817C88.2533 22.3147 88.4767 22.006 88.7781 21.8147C89.0909 21.616 89.2888 21.704 89.5984 21.8649C90.3344 22.247 91.0014 22.454 91.7954 22.092C93.1273 21.4841 93.551 19.9581 92.9337 18.6743C92.2974 17.3511 90.8813 16.5788 89.4382 16.5788C87.8223 16.5788 86.4514 17.49 85.3095 18.5535C84.1998 19.5871 83.2116 20.7854 82.3806 22.0521C81.4354 23.4927 80.7859 25.0412 80.1434 26.6316C79.5741 28.0411 78.8589 29.3982 77.9736 30.6367C77.7104 31.0052 75.3428 33.9412 74.9554 33.3038C74.7436 32.9553 75.0477 32.0891 75.128 31.7196C75.3172 30.8509 75.5703 29.9977 75.83 29.1478C76.0758 28.3427 76.332 27.5446 76.6058 26.7486C76.8556 26.0221 77.1095 25.2434 77.055 24.4645C77.0035 23.7294 76.5848 23.3481 76.0606 22.8957C75.5971 22.4957 75.4033 21.9415 75.1749 21.3929C74.6578 20.1501 73.7703 18.9989 72.5247 18.4241C71.2952 17.857 69.9132 17.9583 68.6928 18.4889C66.55 19.4207 64.8875 21.3584 63.644 23.2831C61.7936 26.1478 60.5723 29.3381 58.4608 32.0444C57.582 33.1709 56.6003 34.4148 55.3771 35.1876C55.2882 35.2439 54.9778 35.4667 54.8815 35.3682C54.7245 35.2073 55.0236 34.5049 55.086 34.3249C55.3831 33.4684 55.6647 32.6078 55.9485 31.7465C56.4953 30.0876 57.1126 28.4489 57.6185 26.777C58.088 25.2259 58.4737 23.5724 58.3573 21.9406C58.2713 20.7356 57.8108 19.4974 56.6694 18.924C55.2701 18.221 53.6647 18.8208 52.422 19.5684C51.0866 20.3716 49.9505 21.459 48.9057 22.605C48.3868 23.1743 47.8881 23.7614 47.39 24.3488C46.9915 24.8186 46.5997 25.4389 46.1051 25.8174C45.9502 25.5347 46.2705 24.7426 46.3306 24.4342C46.4773 23.6804 46.6748 22.9304 46.7125 22.16C46.7721 20.942 46.285 19.7085 44.9768 19.4267C43.8228 19.1783 42.9536 19.9272 42.417 20.8625C41.8018 21.9345 41.2681 23.0451 40.6213 24.1019C39.2337 26.3686 37.6586 28.5135 36.0633 30.6371C35.0854 31.9387 34.0883 33.2305 33.1141 34.538C33.0929 34.2189 33.0664 33.9 33.0306 33.5821C32.5484 29.3216 30.7137 25.3673 28.1852 21.9414C25.9033 18.8494 23.2455 15.4931 23.0357 11.4869C22.934 9.54553 23.692 7.52843 25.121 6.19485C26.5057 4.90252 28.4273 4.46434 30.2768 4.64277C31.9799 4.80698 33.5859 5.53097 34.7014 6.85307C36.0009 8.39368 36.4356 10.526 36.1902 12.4938C36.118 13.0738 35.9878 13.6455 35.8131 14.2031C35.652 14.7176 35.5314 15.1875 35.6773 15.7239C35.9266 16.6407 36.7969 17.3236 37.7438 17.3626C38.7527 17.404 39.5164 16.7325 39.8615 15.8301C40.2544 14.8038 40.4875 13.6811 40.5947 12.5896C41.0005 8.45691 39.2792 4.18222 35.7495 1.88143C32.3471 -0.336074 27.6579 -0.670149 24.0629 1.29033C20.9597 2.9825 18.8334 6.24816 18.3445 9.72667C17.7693 13.8189 19.4852 17.8871 21.5778 21.3067C22.6711 23.0932 23.95 24.7577 25.0363 26.5482C26.2051 28.475 27.0694 30.5795 27.4488 32.8069C27.8004 34.8689 27.8025 37.11 27.1873 39.124C26.6154 40.9967 25.4613 42.6943 24.0218 44.0098C20.8967 46.8663 16.4542 47.8494 12.4138 46.6258C8.9104 45.5646 6.22766 42.5179 5.3737 38.9921C4.55612 35.6157 5.24956 31.7761 8.06927 29.5249C8.84618 28.9048 9.9134 28.568 10.4529 27.6936C10.924 26.9301 10.952 25.947 10.514 25.1628C10.086 24.3964 9.2575 23.874 8.37337 23.8672C7.35675 23.8592 6.44695 24.5132 5.65019 25.0728C2.32908 27.406 0.361589 31.0581 0.0498889 35.0824C-0.280101 39.3405 1.0383 43.4162 3.66771 46.769C6.1547 49.9405 9.96593 51.9208 13.9219 52.5176C16.1593 52.8549 18.4723 52.7567 20.6612 52.173C24.394 51.1774 27.7352 48.8517 30.0105 45.7362C30.8574 44.577 31.5665 43.329 32.0856 42.0011C32.1862 41.7902 32.3142 41.602 32.8444 40.8842C33.353 40.1959 33.841 39.4923 34.3301 38.7897C35.2977 37.3997 36.2425 35.9937 37.1716 34.5779C38.0756 33.2001 38.9648 31.8128 39.8465 30.4209C40.3139 29.6831 40.8293 28.9505 41.2416 28.1791C40.5626 30.6867 39.8234 33.1838 39.0336 35.6587C38.6723 36.7907 38.159 37.9069 37.8927 39.0642C37.6501 40.1184 37.8423 41.2444 38.8716 41.8014C39.8053 42.3069 40.927 42.0478 41.5784 41.2273C42.2121 40.4286 42.5225 39.3372 42.9791 38.4331C44.1123 36.1897 45.4959 34.0767 46.93 32.016C48.1716 30.2318 49.4916 28.5005 50.9281 26.8682C51.2888 26.4585 51.6563 26.0547 52.0326 25.6594C52.3891 25.2848 52.7611 24.7533 53.1969 24.4721C53.9106 24.012 53.609 24.9877 53.5059 25.3146C53.3189 25.9088 53.1306 26.5026 52.9372 27.0949C52.276 29.1219 51.5968 31.1437 50.9767 33.1838C50.4592 34.8857 49.4252 37.3404 50.6389 38.9625C51.9441 40.7068 54.4325 39.7489 55.7882 38.6288C56.6517 37.9155 57.431 37.0911 58.196 36.2753C58.8828 35.5433 59.5123 34.7193 60.2489 34.0383C60.5589 36.4325 61.9703 38.6804 64.609 38.736C67.261 38.792 69.5491 37.0423 70.764 34.7946C70.6821 35.7883 70.8522 36.9024 71.6814 37.5567C72.4603 38.171 73.5392 38.1681 74.4431 37.8632C75.386 37.5449 76.1608 36.9008 76.8544 36.2064C77.664 35.3958 78.4024 34.5109 79.0371 33.5568C79.042 34.7495 79.4235 36.0019 80.5126 36.6343C82.0352 37.5184 83.8228 36.7983 85.2398 36.0585C88.1511 34.5391 90.6047 32.1539 93.0023 29.9463C92.7377 30.6491 92.4743 31.3521 92.2068 32.0535C91.9205 32.8044 91.5454 33.5982 91.7131 34.4205C91.998 35.8163 93.8014 36.5745 94.9778 35.7439C95.9919 35.0277 96.3104 33.5519 96.7159 32.4534C97.406 30.5845 98.0812 28.7106 98.7544 26.8356C99.6072 28.5384 100.522 30.2586 101.691 31.7704C102.596 32.9413 103.81 34.0494 105.353 34.1796C107.145 34.3306 108.72 33.134 109.99 32.0164C112.986 29.3794 115.685 26.4163 118.35 23.452C118.792 24.428 119.248 25.3987 119.646 26.3937C120.164 27.6905 121.199 29.7078 120.296 31.0307C119.552 32.1195 117.8 32.1193 116.679 31.7101C115.889 31.4219 115.297 30.7851 114.52 30.494C113.764 30.2109 112.897 30.4394 112.334 31.0079C111.686 31.6624 111.506 32.6748 111.938 33.4963C112.313 34.2115 113.034 34.7145 113.718 35.1046C117.056 37.0061 121.74 36.5599 124 33.1921C125.162 31.4611 125.126 29.4196 124.589 27.4737Z"></path></svg>
                div.section6__snacks-text The 3-minute newsletter with fresh takes on the financial news you need to start your day.
                div.section6__subscribe
                    input.section6__subscribe-input(placeholder="name@email.com")
                    button.section6__subscribe-button Subscribe
                div.section6__disclaimer
                    div.section6__disclaimer-background Check the background of the firm on FINRA’s Broker Check
                    div.section6__disclaimer-terms Rockinhood Terms & Conditions
                    div.section6__disclaimer-disclosure Disclosure Library
                    div.section6__disclaimer-privacy Privacy
        div.split-container
            div.split
        div(class="section7")
            div.section7__text-container
                div.section7__text1 © 2020 Rockinhood. All rights reserved.
                div.section7__text2 Rockinhood means Rockinhood Markets and its in-application and web experiences with its family of wholly owned subsidiaries which includes Rockinhood Financial, Rockinhood Securities, Rockinhood Crypto, and Rockinhood U.K.
                div.section7__text3 All investments involve risks, including the possible loss of capital.
                div.section7__text4 Securities trading is offered to self-directed customers by Rockinhood Financial. Rockinhood Financial is a member of the <span class="section7__text4-finra" href="https://www.finra.org/">Financial Industry Regulatory Authority (FINRA)</span>.
            div.section7__disclosure <i class="fa fa-exclamation-circle"></i> View Important Disclosures
