extends layout.pug

block content
    include includes/navigation.pug
    div.portfolio__body
        div.portfolio__header
        div.portfolio__header-change
        div.portfolio__chart
        div.portfolio__fund
            div.portfolio__fund-header Personalize Rockinhood
            div.portfolio__fund-text Personalize your account by answering a few questions.
            a(href="/fund" class="portfolio__fund-link") Personalize Rockinhood
        //- div.portfolio__movers-container
        //-     div.portfolio__movers Top Movers
        //-     div.portfolio__movers-cards
        //- div.portfolio__showmore1 Show More
        div.portfolio__news-container
            div.portfolio__news-title Recent News
            //- div.portfolio__split
            div.portfolio__news
        div.portfolio__sidebar
            div.portfolio__stocklist-container
                div.portfolio__stocklist-title Stocks
                    //- div.portfolio__stocklist
                        //- div.portfolio__stocklist-name APPL
                        //- div.portfolio__stocklist-shares 1 shares
                        //- div.portfolio__stocklist-chart test
                        //- div.portfolio__stocklist-price $10
            div.portfolio__watchlist-container
                div.portfolio__watchlist-title Watchlist
                //- div.portfolio__watchlist
                //-     div.portfolio__watchlist-name
                //-     div.portfolio__watchlist-chart
                //-     div.portfolio__watchlist-price $10
            div.historical <i class="fa fa-exclamation-circle"></i> These prices are delayed and not to be used for trading purposes.
    script(src="/js/portfolio.js" type="module")
    script(src="/js/sign-out.js" type="module")
    script(src="/js/news.js" type="module")
    script(src="/js/search.js" type="module")
