extends layout.pug

block content
    include includes/navigation.pug
    div.portfolio__body
        div.portfolio__header
        div.portfolio__header-change
        div.portfolio__chart
        div.portfolio__fund
            div.portfolio__fund-header Rockinhood Portfolio
            div.portfolio__fund-text This graph represents the performance metrics of your portfolio over the past 30 days.
        div.portfolio__news-container
            div.portfolio__news-title Recent News
            div.portfolio__news
        div.portfolio__sidebar
            div.portfolio__stocklist-container
                div.portfolio__stocklist-title Stocks
            div.portfolio__watchlist-container
                div.portfolio__watchlist-title Watchlist
            div.historical <i class="fa fa-exclamation-circle"></i> These prices are delayed and not to be used for trading purposes.
    script(src="/js/portfolio.js" type="module")
    script(src="/js/sign-out.js" type="module")
    script(src="/js/news.js" type="module")
    script(src="/js/search.js" type="module")
