body {
  font-style: arial, sans-serif;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    height: 64px;
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
}

.navbar__rockinhood {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin-left: 5px;
}

.navbar__rockinhood:hover {
    text-decoration: none;
    color: #000000;
}

.navbar__nav {
    font-size: 19px;
    line-height: 28px;
}

.navbar__nav-products {
    margin: 0px 25px;
    color: #040d14;
}

.navbar__nav-products:hover {
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}

.navbar__arrow {
    font-weight: 700;
}

.navbar__nav-learn {
    margin: 0px 25px;
    color: #040d14;
}

.navbar__nav-learn:hover {
    cursor: not-allowed;
    color: rgb(0, 200, 5);
    text-decoration: none;
}

.navbar__nav-support {
    color: #040d14;
    margin: 0px 25px;
}

.navbar__nav-support:hover {
    cursor: not-allowed;
    color: rgb(0, 200, 5);
    text-decoration: none;
}

.spacer {
    display: inline-block;
    margin: 0px auto;
}

.navbar__nav-signin {
    color: #040d14;
    font-size: 18px;
    font-weight: 700;
    margin-right: 24px;
}

.navbar__nav-signin:hover {
    cursor: pointer;
    color: rgb(0, 200, 5);
    text-decoration: none;
}

.navbar__nav-signup {
    color: #040d14;
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
    padding: 12px 38px;
    background-color: rgb(0, 200, 5);
    border-radius: 32px;
}

.navbar__nav-signup:hover {
    background-color: rgb(0, 180, 5);
    text-decoration: none;
    color: #040d14;
}

/* Section 1 */
.section1 {
    background-color: rgba(195, 245, 60, 1);
    border-bottom: 1px solid #000000;
    position: relative;
    top: 64px;
    width: 100%;
    height: 552px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section1__text-container {
    width: 480px;
    font-weight: 500;
}

.section1__title {
    font-size: 60px;
    line-height: 72px;
    position: relative;
    top: -10px;
    margin-bottom: 25px;
    position: relative;
    left: 340px;
}

.section1__text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 35px;
    font-weight: 400;
    position: relative;
    left: 340px;
}

.section1__signup {
    background-color: rgb(4, 12, 20);
    padding: 10px 38px;
    border-radius: 24px;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    top: 20px;
    position: relative;
    left: 340px;
    z-index: 1;
}

.section1__signup:hover {
    opacity: 0.8;
    color: #ffffff;
    text-decoration: none;
}

.section1__image-container {
    position: relative;
    right: 300px;
    bottom: 200px;
}

.section1__video {
    position: relative;
    left: 700px;
    top: 396px;
    width: 700px;
    height: 700px;
}

.section1__image {
    width: 700px;
    position: relative;
    top: 50px;
}

/* Section 2 */
.section2 {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2__title {
    margin-top: 130px;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.36px;
}

.section2__text {
    width: 24%;
    text-align: center;
    color: #040d14;
    padding-top: 20px;
}

.section2__text--link {
    color: #040d14;
    text-decoration: underline;
    font-weight: 600;
}

.section2__text--link:hover {
    color: #00C805;
    text-decoration: underline;
    cursor: not-allowed;
}

.section2__disclosure {
    padding: 30px 0px 30px 0px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.25px;
    color: rgb(111, 120, 126);
    font-weight: 600;
}

.section2__disclosure:hover {
    color: #00C805;
    cursor: not-allowed;
}

/* Section 3 */
.section3 {
    width: 100%;
    height: 557px;
    display: grid;
    grid-template-areas: "placeholder text text image"
}

.section3__text-container {
    grid-area: text;
    position: relative;
    left: 27%;
    top: 50px;
}

.section3__image-container {
    grid-area: image;
    align-self: center;
}

.section3__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.36px;
}

.section3__subheading {
    position: relative;
    top: 21px;
    font-size: 15px;
    color: #6F787E
}

.section3__block-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 35%;
    position: relative;
    top: 68px;
    font-size: 15px;
}

.section3__block-container--1 {
    grid-column: 1/2;
    width: 92%;
}

.section3__block-container--2 {
    grid-column: 2/3;
    width: 92%;
    position: relative;
    left: 44px;
}

.section3__block-container--3 {
    grid-column: 3/4;
    width: 92%;
    position: relative;
    left: 95px;
}

.section3__block-title {
    font-weight: 700;
    line-height: 24px;
    color: #040d14;
}

.section3__block-text {
    letter-spacing: 0.1px;
}

.section3__form-container {
    position: relative;
    top: 123px;
}

.section3__input {
    border: none;
    height: 50px;
    background-color: transparent;
    margin-right: 12px;
    font-size: 15px;
    line-height: 24px;
    padding-left: 36px;
    padding-right: 100px;
}

.section3__button {
    color: #040d14;
    font-weight: 700;
    font-size: 17px;
    margin-right: 5px;
    padding: 12px 18px;
    background-color: rgb(0, 200, 5);
    border-radius: 32px;
    border: none;
}

.section3__button:hover {
    background-color: rgb(0, 180, 5);
    cursor: not-allowed;
}

.section3__disclosure {
    position: relative;
    top: 180px;
    color: rgb(111, 120, 126);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.section3__disclosure:hover {
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}

/* Section 4 */
.section4 {
    background-color: #000000;
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: space-between;
}

.section4__nav {
    background-color: #000000;
    /* position: relative; */
    /* top: 30%;
    left: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: relative;
    left: 15%;
}

.section4__nav--up {
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-align: right;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 10px;
}

.section4__nav--down {
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-align: right;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.section4__nav-element {
    list-style: none;
}

.section4__nav--button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-align: right;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 10px 0;
}

.section4__image {
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
}

.section4__text-container {
    color: #ffffff;
    align-self: center;
    position: relative;
    left: 2%;
}

.section4__text-container--title {
    font-size: 60px;
}

.section4__text-container--text {
    width: 45%;
}

/* Section 5 */
.section5 {
    width: 100%;
    height: 771px;
    background-color: rgb(240, 235, 230);
    display: flex;
    flex-direction: column;
}

.section5__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    position: relative;
    left: 26%;
    top: 75px;
}

.section5__nav {
    display: flex;
    position: relative;
    top: 78px;
    left: 26%;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.section5__nav--cash-management {
    margin: 20px;
    margin-left: 0px;
    margin-right: 30px;
}

.section5__nav--cash-management:hover {
    cursor: pointer;
}

.section5__nav--stock-fund {
    margin: 20px;
    margin-left: 0px;
    margin-right: 30px;
    color: rgb(111, 120, 126);
}

.section5__nav--stock-fund:hover {
    cursor: pointer;
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}

.section5__nav--options {
    margin: 20px;
    margin-left: 0px;
    margin-right: 30px;
    color: rgb(111, 120, 126);
}

.section5__nav--options:hover {
    cursor: pointer;
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}

.section5__nav--gold {
    margin: 20px;
    margin-left: 0px;
    margin-right: 25px;
    color: rgb(111, 120, 126);
}

.section5__nav--gold:hover {
    cursor: pointer;
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}

.section5__nav--crypto {
    margin: 20px;
    margin-left: 0px;
    margin-right: 30px;
    color: rgb(255, 144, 175);
    padding-left: 15px;
    border-left: 1px solid #000000;
    z-index: 1;
}

.section5__nav--crypto:hover {
    cursor: pointer;
    color: rgb(255, 115, 153);
    cursor: not-allowed;
}

.section5__nav--cm-text {
    /* display: none; */
    position: relative;
    left: 26%;
    top: 144px;
    width: 400px;
}

.section5__nav--sf-text {
    display: none;
    position: relative;
    left: 26%;
    top: 144px;
    width: 400px;
}

.section5__nav--o-text {
    display: none;
    position: relative;
    left: 26%;
    top: 144px;
    width: 400px;
}

.section5__nav--g-text {
    display: none;
    position: relative;
    left: 26%;
    top: 144px;
    width: 400px;
}

.section5__nav--c-text {
    display: none;
    position: relative;
    left: 26%;
    top: 144px;
    width: 400px;
}

.section5__nav--button-container {
    position: relative;
    left: 26%;
    top: 370px;
    height: 48px;
    width: 144px;
    background-color: rgb(4, 13, 20);
    padding: 0px 16px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5__nav--button-container:hover {
    opacity: 0.8;
}

.section5__nav--button {
    background-color: rgb(4, 13, 20);
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.section5__nav--button:hover {
    cursor: not-allowed;
}

.section5__nav--disclosure {
    position: relative;
    left: 26%;
    top: 470px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: rgb(111, 120, 126);
}

.section5__nav--disclosure:hover {
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}

.section5__nav--small-text {
    position: relative;
    left: 61%;
    top: 450px;
    font-size: 13px;
    line-height: 20px;
}

.section5__image {
    position: relative;
    left: 50%;
    width: 100%;
    top: -143px;
}

.section5__image-ele {
    width: 600px;
}

/* Footer */
.footer {
    background-color: #000000;
    height: 887px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section6 {
    display: flex;
    height: 50%;
}

.section6__links-container {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 610px;
    position: relative;
    left: 26%;
    top: 60px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.section6__links-col1 {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.section6__links-stock-fund {
    margin-bottom: 10px;
}

.section6__links-options {
    margin-bottom: 10px;
}

.section6__links-gold {
    margin-bottom: 10px;
}

.section6__links-cash-manangement {
    margin-bottom: 10px;
}

.section6__links-crypto {
    margin-bottom: 10px;
    color: rgb(255, 144, 175);
}

.section6__links-col2 {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.section6__links-learn {
    margin-bottom: 10px;
}

.section6__links-support {
    margin-bottom: 10px;
}

.section6__links-snacks {
    margin-bottom: 10px;
}

.section6__links-col3 {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
}

.section6__links-about {
    margin-bottom: 10px;
}

.section6__links-careers {
    margin-bottom: 10px;
}

.section6__links-news {
    margin-bottom: 10px;
}

.section6__links-stock-fund:hover,
.section6__links-options:hover,
.section6__links-gold:hover,
.section6__links-cash-manangement:hover,
.section6__links-learn:hover,
.section6__links-support:hover,
.section6__links-snacks:hover,
.section6__links-about:hover,
.section6__links-careers:hover,
.section6__links-news:hover {
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}

.section6__links-crypto:hover {
    color: rgb(255, 115, 153);
    cursor: not-allowed;
}

.section6__createdby {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 10%;
    top: 260px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.section6__createdby-name {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px;
    position: relative;
    left: 20px;
}

.section6__createdby-git {
    padding: 10px 20px 10px 20px;
    color: #ffffff;
}

.section6__createdby-git:hover {
    color: rgb(0, 200, 5);
}

.section6__snacks-container {
    fill: #ffffff;
    position: relative;
    left: 30%;
    top: 60px;
    color: #ffffff;
}

.section6__snacks-text {
    width: 475px;
    margin: 13px 0px;
}

.section6_subscribe {
    display: flex;
    align-items: center;
}

.section6__subscribe-input {
    height: 64px;
    background-color: rgb(30, 33, 36);
    border: none;
    border-radius: 32px;
    padding: 12px 30px;
    width: 470px;
}

.section6__subscribe-button {
    position: relative;
    right: 150px;
    border: none;
    background-color: rgb(0, 200, 5);
    height: 50px;
    border-radius: 32px;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: rgb(4, 13, 20);
}

.section6__subscribe-button:hover {
    cursor: not-allowed;
}

.section6__disclaimer {
    font-size: 17px;
    font-weight: 600;
    position: relative;
    top: 70px;
}

.section6__disclaimer-background:hover,
.section6__disclaimer-terms:hover,
.section6__disclaimer-disclosure:hover,
.section6__disclaimer-privacy:hover {
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}


.split-container {
    display: flex;
    justify-content: center;
}

.split {
    border-bottom: 1px solid #1e2124;
    position: relative;
    top: 10px;
    width: 48%;
}

.section7 {
    position: relative;
    top: 45px;
    left: 26%;
    width: 1200px;
    font-size: 15px;
    line-height: 24px;
    color: #79858b;
    letter-spacing: 0.2px;
}

.section7__text2 {
    position: relative;
    top: 65px;
}

.section7__text3 {
    position: relative;
    top: 100px;
}

.section7__text4 {
    position: relative;
    top: 130px;
}

.section7__text4-finra {
    color: rgb(0, 200, 5);
    text-decoration: underline;
}

.section7__text4-finra:hover {
    cursor: not-allowed;
}

.section7__disclosure {
    position: relative;
    top: 170px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(121, 133, 139);
}

.section7__disclosure:hover {
    color: rgb(0, 200, 5);
    cursor: not-allowed;
}
