.login {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.login__image-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    max-width: 50%;
}

.login__form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.login__form {
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding-left: 60px;
}

.login__form-email {
    display: block;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 0px 0px 0px;
}

.login__form-password {
    display: block;
    font-size: 13px;
    font-weight: 400;
}

.login__form-email-input {
    display: block;
    border: none;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 430px;
    height: 48px;
    border: 1px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 13px;
}

.login__form-email-input:focus {
    border: 1px solid rgb(0, 200, 5);
}

.login__form-password-input {
    display: block;
    border: none;
    padding: 10px 0px;
    margin: 10px 0px;
    width: 430px;
    height: 48px;
    border: 1px solid rgba(4, 13, 20, 0.1);
    border-radius: 4px;
    font-size: 13px;
}

.login__form-password-input:focus {
    border: 1px solid rgb(0, 200, 5);
}

.login__form-namepass-search {
    padding-left: 60px;
    color: rgb(0, 200, 5);
    font-size: 13px;
    width: 40%;
    cursor: not-allowed;
}

.login__form-namepass-search:hover {
    color: rgb(0, 200, 5);
    text-decoration: none;
}

.login__form-signin-button {
    border: none;
    background-color: rgb(0, 200, 5);
    width: 140px;
    height: 50px;
    margin-left: 60px;
    margin-top: 80px;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
}

.login__form-demo-button {
    position: absolute;
    left: 14%;
    top: 65.2%;
    border: none;
    background-color: rgb(0, 200, 5);
    width: 240px;
    height: 50px;
    margin-left: 60px;
    margin-top: 80px;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
}

.login__form-signin-button:hover {
    background-color: rgb(0, 156, 5);
}

.login__form-demo-button:hover {
    background-color: rgb(0, 156, 5);
}

@media screen and (max-width: 1920px) {
    .login__form-demo-button {
        position: absolute;
        left: 20%;
        top: 65.2%;
        border: none;
        background-color: rgb(0, 200, 5);
        width: 240px;
        height: 50px;
        margin-left: 60px;
        margin-top: 80px;
        padding: 10px 10px;
        font-size: 13px;
        font-weight: 600;
        color: #ffffff;
        border-radius: 4px;
    }
}
