/* Navbar */
body {
  overflow-x: hidden;
}

.navbar {
  box-shadow: none;
  background-color: #ffffff;
}

.navbar__rockinhood {
  margin-left: 40px;
}

.navbar__rockinhood:hover {
  filter: invert(54%) sepia(91%) saturate(3430%) hue-rotate(90deg)
    brightness(105%) contrast(107%);
}

.searchbar-container {
  display: flex;
  align-items: center;
  line-height: 20px;
  position: relative;
  right: 75px;
  border: 1px solid rgba(4, 13, 20, 0.1);
  border-radius: 4px;
}

.searchbar-container:focus-within {
  border: none;
  box-shadow: 0px 0px 25px 0px rgba(0, 250, 5, 0.1);
}

.searchbar-icon {
  padding: 5px 10px;
  color: rgba(4, 13, 20, 0.5);
}

.searchbar-input-field {
  font-size: 15px;
  resize: none;
  font-weight: 400;
  height: 35px;
  width: 450px;
  border: none;
}

.searchbar-input-field:focus {
  outline: none;
  border: none;
}

.navbar__nav-container {
  display: flex;
  align-items: center;
}

.navbar__nav {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 0px;
}

.navbar__nav-free-stocks {
  margin-right: 35px;
  list-style: none;
}

.navbar__nav-porfolio {
  margin-right: 35px;
  color: #040d14;
  list-style: none;
}

.navbar__nav-cash {
  margin-right: 35px;
  color: #040d14;
  list-style: none;
}

.navbar__nav-messages {
  margin-right: 35px;
  list-style: none;
}

.navbar__nav-account {
  margin-right: 35px;
  list-style: none;
}

.navbar__nav-free-stocks:hover {
  cursor: not-allowed;
  color: rgb(0, 200, 5);
}

.navbar__nav-porfolio:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 200, 5);
}

.navbar__nav-cash:hover {
  cursor: not-allowed;
  text-decoration: none;
  color: rgb(0, 200, 5);
}

.navbar__nav-messages:hover {
  cursor: not-allowed;
  color: rgb(0, 200, 5);
}

.navbar__nav-account:hover {
  cursor: pointer;
  color: rgb(0, 200, 5);
}

.navbar__account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 1px solid rgba(4, 13, 20, 0.2);
  border-radius: 4px;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 2;
}

.navigation__status {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar__account-signout {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

/* Body */
.portfolio__body {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}

.portfolio__header {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -0.2px;
  position: relative;
  left: 30%;
  /* top: 98px; */
}
.portfolio__header-change {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  position: relative;
  left: 30%;
  /* top: 95px; */
}
.portfolio__chart {
  width: 700px;
  height: 300px;
  position: relative;
  top: 30px;
  left: 30%;
}

.portfolio__fund {
  border: 1px solid rgba(4, 13, 20, 0.1);
  border-radius: 4px;
  width: 700px;
  height: 130px;
  position: relative;
  top: 100px;
  left: 30%;
}

.portfolio__fund-header {
  color: #6f787e;
  font-weight: 700;
  font-size: 13px;
  margin: 18px 0px 10px 15px;
}

.portfolio__fund-text {
  color: #040d14;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px 0px 20px 15px;
}

.portfolio__fund-link {
  color: rgb(0, 200, 5);
  margin: 0px 0px 0px 15px;
  font-size: 13px;
  font-weight: 700;
}

.portfolio__fund-link:hover {
  color: rgb(0, 200, 5);
  text-decoration: none;
  cursor: not-allowed;
}

/* .portfolio__popular {
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    color: #040d14;
    position: relative;
    top: 170px;
    left: 30%;
    display: flex;
} */

/* .portfolio__movers {
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    color: #040d14;
    position: relative;
    top: 270px;
    left: 30%;
    display: flex;
} */

/* .portfolio__showmore1 {
    font-size: 13px;
    color: rgb(0, 200, 5);
    display: inline-block;
    position: relative;
    top: 149px;
    left: 55%;
} */

/* .portfolio__showmore2 {
    font-size: 13px;
    color: rgb(0, 200, 5);
    display: inline-block;
    position: relative;
    top: 249px;
    left: 55%;
} */

/* .portfolio__news-container {
    position: relative;
    top: 150px;
}

.portfolio__news-title {
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    color: #040d14;
    position: relative;
    left: 30%;
    margin-bottom: 20px;
} */

.portfolio__split {
  border-bottom: 1px solid rgba(4, 13, 20, 0.1);
  width: 29%;
  position: relative;
  top: 378px;
  left: 30%;
  margin-bottom: 20px;
}

.portfolio__sidebar {
  display: flex;
  position: fixed;
  left: 61%;
  flex-flow: column wrap;
  align-items: center;
  width: 250px;
}

.portfolio__stocklist-container {
  width: 250px;
  /* position: fixed;
    left: 61%; */
  /* display: flex;
    flex-flow: row wrap; */
  box-shadow: 0px 0px 25px 0px rgba(0, 250, 5, 0.1);
}

.portfolio__watchlist-container {
  width: 250px;
  /* position: fixed;
    left: 61%; */
  box-shadow: 0px 0px 25px 0px rgba(0, 250, 5, 0.1);
}

/* .stocklist-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.portfolio__stocklist-title {
  font-size: 15px;
  font-weight: 700;
  border-top: 1px solid rgba(4, 13, 20, 0.2);
  border-bottom: 1px solid rgba(4, 13, 20, 0.2);
  color: #040d14;
  padding: 14px 20px;
}

.portfolio__stocklist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  font-weight: 500;
}

.portfolio__stocklist-name {
  font-size: 13px;
  font-weight: 700;
  padding: 3% 3% 3% 10%;
  cursor: pointer;
}

.portfolio__stocklist-shares {
  font-size: 11px;
  font-weight: 500;
}

.portfolio__stocklist-chart {
  justify-self: center;
  padding: 5px 5px;
}

.portfolio__stocklist-price {
  font-size: 13px;
  font-weight: 700;
  padding: 3% 10% 3% 3%;
  cursor: pointer;
}

.portfolio__watchlist-title {
  font-size: 15px;
  font-weight: 700;
  border-top: 1px solid rgba(4, 13, 20, 0.2);
  border-bottom: 1px solid rgba(4, 13, 20, 0.2);
  color: #040d14;
  padding: 14px 20px;
}

.portfolio__watchlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  font-weight: 500;
}

.portfolio__watchlist-name {
  font-size: 13px;
  font-weight: 700;
  padding: 3% 3% 3% 10%;
  cursor: pointer;
}
.portfolio__watchlist-chart {
  justify-self: center;
  padding: 5px 5px;
}

.portfolio__watchlist-price {
  font-size: 13px;
  font-weight: 700;
  padding: 3% 10% 3% 3%;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .portfolio__body {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 1920px) {
  .portfolio__body {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 70%;
    position: relative;
  }

  .portfolio__sidebar {
    display: flex;
    position: fixed;
    left: 71%;
    flex-flow: column wrap;
    align-items: center;
    width: 250px;
  }

  .searchbar-container {
    width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio__body {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 50%;
    position: relative;
  }

  .portfolio__sidebar {
    display: flex;
    position: fixed;
    left: 61%;
    flex-flow: column wrap;
    align-items: center;
    width: 250px;
  }

  .searchbar-container {
    width: 10%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
